<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>calculator</display-name>
  <servlet>
  <servlet-name>ADDITION</servlet-name>
  <servlet-class>calculator.additionNumber</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ADDITION</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>SUBTRACTION</servlet-name>
  <servlet-class>calculator.subtractionNumber</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SUBTRACTION</servlet-name>
  <url-pattern>/sub</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>MULTIPLICATION</servlet-name>
  <servlet-class>calculator.multiplicationNumber</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MULTIPLICATION</servlet-name>
  <url-pattern>/product</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DIVISION</servlet-name>
  <servlet-class>calculator.divisionNumber</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DIVISION</servlet-name>
  <url-pattern>/divide</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>SQUARE</servlet-name>
  <servlet-class>calculator.squareNumber</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SQUARE</servlet-name>
  <url-pattern>/powerOfNumber</url-pattern>
  </servlet-mapping>
  
  
</web-app>